@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
}
html {
  /* This line makes 1rem = 10px, easier for calculations with rem */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.header {
  background-color: #1A1917;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3.4rem;
}
.header__logo {
  max-height: 5rem;
}

.menu {
  color: #fff;
}
.menu__list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3.85rem;
  list-style-type: none;
}
.menu__item {
  font-weight: bold;
  font-size: 1.14rem;
}
.menu__item--icon {
  height: 2rem;
}
.menu__item--icon:hover {
  color: #68E51B;
}
.menu__item:hover {
  color: #68E51B;
}

.banner {
  background-image: url("../img/Banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 1.78;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner__text-wrapper {
  flex: 1 1 auto;
  margin: 26.5rem 0 0 13rem;
  font-size: 3.2rem;
  line-height: 8rem;
}

.text {
  color: #fff;
  display: flex;
  flex-direction: column;
}
.text--black-text {
  color: #000;
  display: flex;
  flex-direction: column;
}
.text__title {
  font-weight: 300;
}
.text__title > span {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.text__title > span::before {
  content: "";
  display: block;
  width: 110px;
  height: 2px;
  background-color: #68E51B;
}
.text__title > strong {
  font-weight: 800;
  margin-left: 1.25em;
}
.text__description {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #807D79;
  margin: 0 9.5rem;
}
.text__list ul {
  list-style-type: none;
  font-weight: 700;
  font-size: 1.5rem;
}
.text__list li {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.text__list li + li {
  margin-top: 4px;
}
.text__icon {
  height: 45px;
}
.text__cta {
  line-height: 1rem;
  margin: 0.5rem 0 0 13rem;
}
.text__cta-text {
  font-weight: bold;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.text__cta-button {
  padding: 0.6rem;
  background-color: #68E51B;
  color: #000;
}
.text__cta-icon {
  height: 1.5rem;
}

.button-group {
  display: flex;
  font-weight: 500;
  font-size: 1.25rem;
}
.button-group__separator {
  background-color: #fff;
  height: 100%;
  width: 1px;
  display: flex;
  align-items: center;
}
.button-group__separator-fill {
  content: "";
  background-color: #EBEBEB;
  height: 50%;
  width: 1px;
}
.button-group__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 19rem;
  height: 8rem;
}

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
}
.section-1__left {
  background-image: url("../img/img2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 0.9948;
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
.section-1__left-text-wrapper {
  margin: 15rem 0 0 9.5rem;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 4rem;
}
.section-1__left-text-wrapper h2 span {
  gap: 1.5rem;
}
.section-1__left-text-wrapper h2 span::before {
  width: 78px;
}
.section-1__left-text-wrapper h2 strong {
  margin-left: 1.1em;
}
.section-1__left-text-wrapper .text--black-text {
  gap: 4.5rem;
}
.section-1__left-text-wrapper .text__cta {
  margin-left: 9.3rem;
}
.section-1__left-text-wrapper .text__cta-text {
  font-size: 1.3rem;
}
.section-1__top-right-text-wrapper {
  margin: 10rem 0 0 6.5rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.section-1__top-right-text-wrapper h3 span {
  gap: 1rem;
}
.section-1__top-right-text-wrapper h3 span::before {
  width: 30px;
}
.section-1__top-right-text-wrapper h3 strong {
  margin-left: 1em;
}
.section-1__top-right-text-wrapper .text__description {
  font-size: 1.25rem;
  line-height: 1.6rem;
  margin: 3.3rem 4rem;
}
.section-1__top-right-text-wrapper .text__cta {
  margin-left: 4rem;
}
.section-1__top-right-text-wrapper .text__cta-text {
  font-size: 1.1rem;
}
.section-1__bottom-left {
  background-color: #1A1917;
}
.section-1__bottom-left-text-wrapper {
  margin: 10rem 0 0 6.5rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.section-1__bottom-left-text-wrapper h3 span {
  gap: 1rem;
}
.section-1__bottom-left-text-wrapper h3 span::before {
  width: 30px;
}
.section-1__bottom-left-text-wrapper h3 strong {
  margin-left: 1em;
}
.section-1__bottom-left-text-wrapper .text__description {
  font-size: 1.25rem;
  line-height: 1.6rem;
  margin: 3.3rem 4rem;
}
.section-1__bottom-left-text-wrapper .text__cta {
  margin-left: 4rem;
}
.section-1__bottom-left-text-wrapper .text__cta-text {
  font-size: 1.1rem;
}
.section-1__bottom-left .text__description {
  color: #fff;
}

.section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-2__right-text-wrapper {
  margin: 15rem 0 0 9.5rem;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 4rem;
}
.section-2__right-text-wrapper h2 span {
  gap: 1.5rem;
}
.section-2__right-text-wrapper h2 span::before {
  width: 78px;
}
.section-2__right-text-wrapper h2 strong {
  margin-left: 1.1em;
}
.section-2__right-text-wrapper .text--black-text {
  gap: 4.5rem;
}
.section-2__right-text-wrapper .text__cta {
  margin-left: 9.3rem;
}
.section-2__right-text-wrapper .text__cta-text {
  font-size: 1.3rem;
}
.section-2__right-text-wrapper {
  margin: 15.5rem 0 0 9.5rem;
  font-size: 2.4rem;
}

.section-3 {
  display: grid;
  grid-template-columns: 25.45% 24.55% 24.55% 25.45%;
  grid-template-rows: 50% 50%;
}
.section-3__left {
  background-image: url("../img/img6.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 0.5025;
  grid-row: 1/span 2;
}
.section-3__left-text-wrapper {
  margin: 15rem 0 0 9.5rem;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 4rem;
}
.section-3__left-text-wrapper h2 span {
  gap: 1.5rem;
}
.section-3__left-text-wrapper h2 span::before {
  width: 78px;
}
.section-3__left-text-wrapper h2 strong {
  margin-left: 1.1em;
}
.section-3__left-text-wrapper .text--black-text {
  gap: 4.5rem;
}
.section-3__left-text-wrapper .text__cta {
  margin-left: 9.3rem;
}
.section-3__left-text-wrapper .text__cta-text {
  font-size: 1.3rem;
}
.section-3__left-text-wrapper {
  margin: 16rem 0 0 4.5rem;
  font-size: 2.4rem;
}
.section-3__left-text-wrapper .text--black-text {
  gap: 3rem;
}
.section-3__left-text-wrapper .text--black-text .text__description {
  font-size: 1.3rem;
  margin: 0 2rem 0 9.5rem;
  line-height: 1.5rem;
}
.section-3__right {
  grid-column: 4;
  grid-row: 1/span 2;
}
.section-3__top-right {
  background-color: #1A1917;
}
.section-3__top-right-text-wrapper {
  margin: 10rem 0 0 6.5rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.section-3__top-right-text-wrapper h3 span {
  gap: 1rem;
}
.section-3__top-right-text-wrapper h3 span::before {
  width: 30px;
}
.section-3__top-right-text-wrapper h3 strong {
  margin-left: 1em;
}
.section-3__top-right-text-wrapper .text__description {
  font-size: 1.25rem;
  line-height: 1.6rem;
  margin: 3.3rem 4rem;
}
.section-3__top-right-text-wrapper .text__cta {
  margin-left: 4rem;
}
.section-3__top-right-text-wrapper .text__cta-text {
  font-size: 1.1rem;
}
.section-3__top-right .text__description {
  color: #fff;
}
.section-3__bottom-left-text-wrapper {
  margin: 10rem 0 0 6.5rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.section-3__bottom-left-text-wrapper h3 span {
  gap: 1rem;
}
.section-3__bottom-left-text-wrapper h3 span::before {
  width: 30px;
}
.section-3__bottom-left-text-wrapper h3 strong {
  margin-left: 1em;
}
.section-3__bottom-left-text-wrapper .text__description {
  font-size: 1.25rem;
  line-height: 1.6rem;
  margin: 3.3rem 4rem;
}
.section-3__bottom-left-text-wrapper .text__cta {
  margin-left: 4rem;
}
.section-3__bottom-left-text-wrapper .text__cta-text {
  font-size: 1.1rem;
}

.section-4 {
  background-image: url("../img/img9.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 1.78;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-4__text-wrapper {
  flex: 1 1 auto;
  margin: 21% 0 0 52.5%;
  font-size: 4rem;
  line-height: 8rem;
}
.section-4__text-wrapper span {
  gap: 1.5rem;
}
.section-4__text-wrapper span::before {
  width: 95px;
}
.section-4__text-wrapper strong {
  margin-left: 4.5rem;
}

.section-sign-up {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #FAFAFA;
}
.section-sign-up__left {
  margin: auto 18%;
}
.section-sign-up__left-text-wrapper {
  font-size: 2.4rem;
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.section-sign-up__left-text-wrapper span {
  gap: 1.5rem;
}
.section-sign-up__left-text-wrapper span::before {
  width: 80px;
}
.section-sign-up__left-text-wrapper strong {
  margin-left: 4.5rem;
}
.section-sign-up__right {
  background-image: url("../img/img10.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 2;
  grid-column: 2;
}
.section-sign-up__right-text-wrapper {
  margin: 20% 0 0 17%;
  font-size: 2.4rem;
  line-height: 4rem;
}
.section-sign-up__right-text-wrapper span {
  gap: 1.5rem;
}
.section-sign-up__right-text-wrapper span::before {
  width: 80px;
}
.section-sign-up__right-text-wrapper strong {
  margin-left: 4.5rem;
}

.sign-up-form {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sign-up-form__input {
  flex: 1 1 auto;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
}
.sign-up-form__input input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.3rem;
  width: 100%;
  padding: 0 1rem;
}
.sign-up-form__input::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #68E51B;
}
.sign-up-form__submit {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1rem;
  padding: 0;
}

.footer {
  background-color: #1A1917;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 9.5rem 22rem 9rem 8rem;
}
.footer__logo {
  max-height: 50px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__list {
  list-style-type: none;
  font-size: 1.3rem;
  padding: 0;
}
.footer__list a:hover {
  color: #68E51B;
}
.footer__description {
  font-size: 1.3rem;
  line-height: 1.7rem;
  max-width: 180px;
  color: #807D79;
}
.footer__icons {
  display: flex;
  gap: 2rem;
}
.footer__icons svg:hover {
  cursor: pointer;
}
.footer__icons svg:hover path {
  fill: #68E51B;
}/*# sourceMappingURL=mountain_bike.css.map */